
body{
  margin:0em;
  background:#333333;
}
/*h2,p{
  font-size:100%;
  font-weight:normal;
}*/
ul,li{
  list-style:none;
}
ul{
  overflow:hidden;
  padding:3em;
  margin-left: auto;
  margin-right: auto;
}
.photo div{
  background-attachment: scroll;
  text-decoration: none;
  color: #000;
  background: #fff;
  display: inline-block;
  min-height: auto;
  max-width: 20em;
  padding: .5em;
  -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
}
.photo{
  cursor: pointer;
  margin: 3em;
  float:left;
}
@media screen  and (max-width: 600px)
{
  .photo{
    margin:3em 0 ;
  }
}
.photo h2{
  font-size:140%;
  font-weight:bold;
  padding-bottom:10px;
}
.photo p{
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size:180%;
}
.photo div a {
/*    -webkit-transform: rotate(90deg) !important;
    transform: rotate(60deg);
    position: absolute;*/
}

.photo div{
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.photo:nth-child(even) div{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:10px;
  background:white;
}
.photo:nth-child(3n) div{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:white;
}
.photo:nth-child(5n) div{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
  background: white;
}
.photo div img{
  max-width: 100%;
  margin-top: -5%;
  margin-left: -15%;
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0,0,0,0.5)) !important;
}

.photo: img{
  -ms-transform: translate(50px, 100px); /* IE 9 */
  -webkit-transform: translate(50px, 100px); /* Safari */
  transform: translate(50px, 100px);
}

.photo div:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.0);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,0);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,0);
  -webkit-transform: scale(1.90);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}

ol{text-align:center;}
ol li{display:inline;padding-right:1em;}
ol li a{color:#fff;}

.video{
  display: inline-block;
}
.video.hidden {
  display: none;
}


/*copied*/